# Ignorar carpetas generadas por Unity
EscenasPreconfiguradas/**/[Ll]ibrary/
EscenasPreconfiguradas/**/[Tt]emp/
EscenasPreconfiguradas/**/[Oo]bj/
EscenasPreconfiguradas/**/[Bb]uild/
EscenasPreconfiguradas/**/[Bb]uilds/
EscenasPreconfiguradas/**/Logs/
EscenasPreconfiguradas/**/UserSettings/

# Archivos de Visual Studio y Rider
EscenasPreconfiguradas/**/.vs/
EscenasPreconfiguradas/**/.vscode/
EscenasPreconfiguradas/**/*.csproj
EscenasPreconfiguradas/**/*.unityproj
EscenasPreconfiguradas/**/*.sln
EscenasPreconfiguradas/**/*.suo
EscenasPreconfiguradas/**/*.tmp
EscenasPreconfiguradas/**/*.user
EscenasPreconfiguradas/**/*.userprefs

# Archivos de compilación
EscenasPreconfiguradas/**/*.pidb
EscenasPreconfiguradas/**/*.booproj
EscenasPreconfiguradas/**/*.svd

# Metadatos de Unity y paquetes
EscenasPreconfiguradas/**/MemoryCaptures/
EscenasPreconfiguradas/**/AssetImportState/
EscenasPreconfiguradas/**/ScriptAssemblies/
EscenasPreconfiguradas/**/SourceAssets/
EscenasPreconfiguradas/**/ShaderCache/
EscenasPreconfiguradas/**/StreamingAssets/aa.meta

# Ignorar paquetes descargados
EscenasPreconfiguradas/**/Packages/com.unity.*
EscenasPreconfiguradas/**/Packages/manifest.json.lock

# Archivos del sistema
EscenasPreconfiguradas/**/Thumbs.db
EscenasPreconfiguradas/**/Desktop.ini
EscenasPreconfiguradas/**/.DS_Store
EscenasPreconfiguradas/**/.idea/

# Ignorar builds
EscenasPreconfiguradas/**/Build/
EscenasPreconfiguradas/**/Builds/

# Otros
EscenasPreconfiguradas/**/*.log
EscenasPreconfiguradas/**/obj/